body{
  margin: 0;
  padding: 0;
  background-color: #FBF6E2;
  
  color: #366ED8;
  text-align: center;
  min-width: 320px;
}

main a{
  color: #FC4100;
}

/*Nav*/

nav{  
  background-color: #00215E;
  color: #FC4100;
  box-shadow: -20px 0px 30px 0px rgba(0,0,0,0.75) inset;
  height: 110px;
}

      nav a {
      text-decoration: none;
      color: white;
      
    }

      #nav-title {
        font-size: large;
        text-align: center;
        padding: 1em;
        text-shadow: 0px 0px 8px rgba(0,0,0,6);
        
      }

/*Nav max-width 768px*/

@media (max-width: 768px) {

html {
  scroll-padding-top: 150px;
}

main{
  margin-top: 150px;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
}


 #nav-title {
   font-size: x-large;
   
 }

.nav-links {
  display: flex;
  justify-content: center;
  gap: 0px;
      
}


.indent1 {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  width: 33%;
  height: 40px;
  margin: 0;
  background-color: #366ED8;
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75) inset;
  color: #F3A953;
  border: 1px solid black;
  border-radius: 20%;
  z-index: 9;
}

.indent2 {
  visibility: hidden;
  position: absolute;
  y: -1px;
  x: -1px;
  height: 1px;
  width: 1px;
}

.dot {
  visibility: hidden;
  position: absolute;
  y: -1px;
  x: -1px;
  height: 1px;
  width: 1px;
}

.nav-windows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

    .window1 {
      position: relative;
      display: inine-block;
      margin: 0;
      visibility: hidden;
      border: 2px solid;
      width: 30%;
      z-index: 4;
    }

    .window2 {
      position: relative;
      display: inline-block;
      margin: 0;
      color: transparent;
      border-radius: 5%;
      top: -124px;
      width: 30%;
      z-index: 4;
      pointer-events: auto;      
    }

        .window2 , .window3 {
          user-select: none
        }


    .window3 {
      position: relative;
      display: inline-block;
      margin: 0;
      color: transparent;
      border-radius: 5%;
      top: -110px;
      width: 30%;
      z-index: 4;
      pointer-events: auto;
    }

    .window1-hover {
      width: 30%;
      margin: 0;
      font-size: small;
      font-weight: 900;
      border: 2px solid transparent;
      height: 15px
    }

    .window2-hover {
      position: relative;
      z-index: 1;
      display: inline-block;
      top: -px;
      width: 100%;
      margin: 0;
      font-size: small;
      font-weight: 900;
      background-color: #366ED8;
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75) inset;
      color: #F3A953;
      border-bottom-left-radius: 25%;
      border-bottom-right-radius: 25%;
      padding-top: 2px;
      height: 15px;
      pointer-events: auto;
      
    }

    .window3-hover {
      position: relative;
      z-index: 1;
      display: inline-block;
      top: -px;
      width: 100%;
      margin: 0;
      font-size: small;
      font-weight: 900;
      background-color: #366ED8;
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75) inset;
      color: #F3A953;
      border-bottom-left-radius: 25%;
      border-bottom-right-radius: 25%;
      padding-top: 2px;
      height: 15px;
      pointer-events: auto;
    }

    .window2:hover {
      top: -15px;   
      background-color: #366ED8;
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75) inset;
      color: #F3A953;
      border: 1px solid black;
    }

    .window3:hover {
      top: -15px;   
      background-color: #366ED8;
      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75) inset;
      color: #F3A953;
      border: 1px solid black;
    }

    .window2:hover a {
      display: block;
      color: #FBF6E2;
      font-size: small;
      box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
    }

    .window3:hover a {
      display: block;
      font-size: small;
      color: #FBF6E2;
      box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
      width: 100%;
    }

    .window3 a , .window2 a {
      display: block;
      font-size: small;
      color: transparent;
      width: 100%;      
    }
    
  footer{
    margin-top: 1em;
  }
}

/*Nav min-width 769px*/

@media (min-width: 769px) {

/* !!! CHECK HTML OVERFLOW - if page is scrolled down on max-width 768 and then enlarged to min-width 769 page will be stuck on a "blank" page of HTML overflow !!! */

  html{
    background-color: red;
    overflow: clip;
  }

  .nav-windows {
    visibility: hidden;
    position: absolute;
    top: -1px;
    left: -1px;
    height: 1px;
    width: 1px
  }

  body {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 100vh;
  }
  
  nav {
    flex-grow: 1;
    max-width: 250px;
    min-width: 250px;
    height: 90vh;
    overflow: scroll;
  }


  main {
    flex-grow: 2;
    height: 90vh;
    overflow: scroll;
    margin: 0;
    width: calc(100% - 250px)
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .indent1{
    padding-left: 10px;
    
  }

  .indent2{
    padding-left: 30px;
  }  

}

/*Body*/

.small-divider {
  width: 75%;
  margin: auto;
  margin-top: 2em;
  border: 1px #F3A953 solid;
  box-shadow:  0px 0px 15px 1px rgba(0,0,0,0.3);
}

pre {
  margin-bottom: 25px;
  height: 135px;
}

code {
  width: 400px;
  height: 100px;
  max-width: 75%;
  margin: auto;
  border: 1px solid black;
  border-radius: 8px;
  border: 4px solid #f3a953;
  box-shadow:  0px 0px 15px 1px rgba(0,0,0,0.75);
}

.divider {
  height: 0;
  width: 75%;
  margin: auto;
  box-shadow:  0px 0px 15px 1px rgba(0,0,0,0.3);
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            linear-gradient(282deg, #f3a953 0%, #366ed8 100%);
border-radius: 8px;
padding: 2px;
box-sizing: border-box;
}

.main-section header , #Introduction h1 {
  color: #FC4100;
  font-size: large;
  font-weight: normal;
  padding: 2em 1em 1em 1em;
        text-shadow: 0px 0px 8px rgba(0,0,0,6);
}

p {
  padding: 0em;
  max-width: 50%;
  margin: auto;
}

h1 {
  max-width: 70%;
  margin: auto;
}


#Properties-for-the-Parent , #Properties-for-the-Children , #Introduction header{
  color: #00215E;
  font-size: x-large;
  text-align: center;
  padding: 1em;
  text-shadow: 0px 0px 8px rgba(0,0,0,6);
}

.bold {
  font-weight: 800;
  color: #00215E;
}

h3 {
  color: #00215E;
  font-weight: normal;
  text-shadow: 0px 0px 8px rgba(0,0,0,1); 
  margin-bottom: 0.1em ;
  height: 25px;
  width: 250px;
  margin: auto;



}

/* Body - Imgs*/

.img {
  max-width: 75%;
  margin: 1em auto;
  background-color: #366ed8;
  border: 4px solid #f3a953;
  border-radius: 8px;
  box-shadow:  0px 0px 15px 1px rgba(0,0,0,0.75);
}

#flex-direction-img {
  width: 500px;
  height: 200px;
}

#flex-wrap-img {
  width: 500px;
  height: 200px; 
}

#justify-content-img-1 , #justify-content-img-2 , #justify-content-img-3 , #justify-content-img-4 , #justify-content-img-5 , #justify-content-img-6 {
  width: 500px;
  height: 100px;
  margin-top: 0;
}

#align-items-imgs{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 550px;
  max-height: 500px;
  margin: auto;
}

#align-items-img-1 , #align-items-img-2 , #align-items-img-3 , #align-items-img-4 , #align-items-img-5 {
  width: 250px;
  height: 200px;
  margin-top: 0;
}


#align-content-img-1 , #align-content-img-2 , #align-content-img-3 , #align-content-img-4 , #align-content-img-5 , #align-content-img-6 {
  width: 500px;
  height: 200px;
  margin-top: 0;
}

#gap-img-1 {
   width: 500px;
  height: 52px;
  margin-top: 0;
} 

#gap-img-2 {
   width: 500px;
  height: 191px;
  margin-top: 0;

} 

#gap-img-3 {
  width: 500px;
  height: 140px;
  margin-top: 0;
}

#order-img-1 , #order-img-2 {
  width: 500px;
  height: 100px;
  margin-top: 0;
}

#order-img-3 {
  width: 500px;
  height: 300px;
  margin-top: 0;
}

#flex-grow-img-1 , #flex-grow-img-2 {
  width: 500px;
  height: 100px;
  margin-top: 0;
}

#align-self-img {
  width: 500px;
  height: 200px;
  margin-top: 0;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #366ED8;
  border-top: 2px solid #f3a953;
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75) inset;
  color: #F3A953;
  text-shadow: 0px 0px 8px rgba(0,0,0,6);
  width: 100%;
  height: 3em;
}

.footer-logo {
  width: 100%;
  padding-top: 5px;
  flex-shrink: 30;
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 30;
  width: 100%;
  gap: 20px;
}

.about p {
  margin: 0;
}